@page
@model IndexModel
@{
    ViewData["Title"] = "Autoryzacja";
    object? errormsg = "";
    @if (TempData["Error"] != null)
        errormsg = TempData["Error"];
}
<link rel="stylesheet" href="~/css/site.css"/>
<h1>Logowanie</h1>
<div class="text-center">
    <form method="post">
        <center>
            <table>
                <tr>
                    <td>Login</td>
                    <td><input type="text" name="login" /></td>
                </tr>
                <tr>
                    <td>Hasło</td>
                    <td><input type="password" name="password" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Zaloguj się" /></td>
                </tr>
            </table>
        </center>
    </form>
    <p>Nie masz konta? <a href="/Register/Index">Zarejestruj się już dziś</a>.</p>
    @if (!string.IsNullOrEmpty(errormsg?.ToString()))
    {
            <p id="errormsg">@errormsg</p>
    }
</div>
